// Breakpoints
$desktop: 1280px;

// Colors
$black: #000;
$primary-green: rgb(102, 218, 67);
$founders-green: #44912d;
$nft-green: #224916;
$collection-yellow: #8fa736;
$oni-red: #9d222f;
$tiering-red: #ff4040;
$purple: #9c299f;
$white: #fff;

// Fonts
