// Breakpoints
$desktop: 1280px;
$mobile-breakpoint: 720px;
$tablet-breakpoint: 1050px;

@mixin mobile {
  @media screen and (max-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $tablet-breakpoint) {
    @content;
  }
}

// Colors
$black: #000;
$primary-green: rgb(102, 218, 67);
$founders-green: #44912d;
$nft-green: #224916;
$collection-yellow: #8fa736;
$oni-red: #9d222f;
$tiering-red: #ff4040;
$purple: #9c299f;
$white: #fff;

// Fonts
