.mint {
  height: 100vh;
  color: $primary-green;
  padding: 0 1rem;
  // border: 1px solid red;
  text-align: center;

  display: flex;
  justify-content: center;
  // align-items: center;

  &-whitelist-button {
    width: 14rem;
    height: 4.5rem;
    // padding: rem;
    border-radius: 0.5rem;
    border: none;
    background-color: $oni-red;
    font-weight: 800;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all ease-in-out 250ms;

    &:hover {
      background-color: gray;
      color: $primary-green;
    }
  }

  &-button {
    width: 14rem;
    height: 4.5rem;
    // padding: rem;
    border-radius: 0.5rem;
    border: none;
    background-color: $oni-red;
    font-weight: 800;
    font-size: 1.5rem;
    cursor: pointer;
    &:hover {
      background-color: gray;
      color: $primary-green;
    }
  }
}
